@charset "UTF-8";

body{
    margin: 0;
    padding: 0;
}

.bound_success{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -320px;
    margin-top: -30px;
    width: 640px;
    height: 60px;
    text-align: center;
    color: rgba(30, 161, 20, 1);
    font-size: 50px;
    font-family: 微软雅黑;
    margin-right: auto;
}