@charset "UTF-8";

body{
    margin: 0px;
    padding: 0px;
}

.top_view{
    width: 100%;
    height: 140px;
    border-bottom: 1px solid lightgrey;
}

.top_view_image{
    margin-left: 20px;
    margin-top: 20px;
    width: 100px;
    height: 100px;
    float: left;
}

.top_view_image img{
    width: 100%;
    height: 100%;
}

.info{
    margin-top: 20px;
    line-height: 50px;
    height: 100px;
    margin-left: 20px;
    font-family: 微软雅黑;
    font-size: 30px;
    float: left;
}

.message_class{
    margin: 0px;
    padding: 0px;
}

.message_title{
    margin-top: 30px;
    width: 100%;
    height: 50px;
    text-align: center;
    font-family: 微软雅黑;
    font-size: 35px;
}

.message_content{
    margin-top: 30px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    height: 350px;
    font-family: 微软雅黑;
    font-size: 30px;
}

.message_teacher{
    width: 300px;
    height: 50px;
    font-size: 30px;
    font-family: 微软雅黑;
    position: absolute;
    right: 10%;
    margin-top: 50px;
    text-align: right;
}

.message_time{
    width: 300px;
    height: 50px;
    font-size: 30px;
    font-family: 微软雅黑;
    position: absolute;
    right: 10%;
    margin-top: 150px;
    text-align: right;
}

.delete_message_btn{
    width: 80%;
    height: 75px;
    border-width: 0px;
    border-radius: 10px;
    background-color: #de2c32;
    font-family: 微软雅黑;
    font-size: 30px;
    text-align: center;
    -webkit-appearance: none;
    color: white;
    margin-top: 230px;
    margin-left: 10%;
    margin-right: 10%;
}

.delete_message_btn:hover{
    cursor: pointer;
}

.delete_message_btn:active{
    background-color: darkgrey;
}

.hidden_opacity_class{
    position: absolute;
    top: 0px;
    width: 100%;
    margin-left: 0%;
    margin-top: 0%;
    height: 100%;
    background-color: rgb(0,0,0);
    filter: alpha(opacity: 50);
    opacity: 0.5;
    z-index: 100;
    display: none;
}

.delete_message_tip{
    border-radius: 10px;
    border: 1px solid lightgrey;
    width: 0%;
    margin-left: 0%;
    height: 0px;
    position: absolute;
    top: 0px;
    z-index: 200;
    background-color: white;
    overflow: hidden;
    padding: 0px;
}

.tip_title{
    width: 100%;
    margin-top: 10px;
    text-align: center;
    font-family: 微软雅黑;
    font-size: 35px;
}

.tip_content{
    width: 350px;
    height: 100px;
    font-family: 微软雅黑;
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}

.two_btn{
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0px;
}

.cancel_btn{
    width: 50%;
    height: 50px;
    font-family: 微软雅黑;
    font-size: 30px;
    float: left;
    -webkit-appearance: none;
    background-color: lightgrey;
    color: white;
    border-width: 0px;
}

.cancel_btn:hover{
    cursor: pointer;
}

.cancel_btn:active{
    background-color: darkgrey;
}

.confirm_btn{
    width: 50%;
    height: 50px;
    font-family: 微软雅黑;
    font-size: 30px;
    float: left;
    background-color: #de2c32;
    -webkit-appearance: none;
    color: white;
    border-width: 0px;
}

.confirm_btn:hover{
    cursor: pointer;
}

.confirm_btn:active{
    background-color: darkgrey;
}

